# Visual Studio
.vscode/
*.user
*.suo
*.userprefs
*.userosscache
*.user
*s.md

# Build outputs
bin/
obj/
GameData/CameraSwitcherAuto

# Rider
.idea/
.vs/
*.zip

*.dll
LUNAMULTIPLAYER.md
*_*.md
*.htm
NuGet.config